<div class="contant search">
  <span class="title">Search</span>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="IVF Name" [(ngModel)]="name">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Doctor Name" [(ngModel)]="doctorname">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Doctor ISAR number" [(ngModel)]="isarno">
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success" (click)="search()">search</button>
    <button class="btn btn-danger" style="margin-left:10px;" (click)="clear()">clear</button>
  </div>
</div>

<div class="contant">
  <span class="title">IVF Centres</span>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <div class="table-responsive">
          <table class="table table-bordered ">
              <thead>
                <tr>
                  <th scope="col">SrNO</th>
                  <th scope="col">Name</th>
                  <th scope="col">Doctor Name</th>
                  <th scope="col">ISAR No.</th>
                  <th scope="col">Contact No.</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody *ngFor="let centre of showing;let i =index">
                <td>{{page*10 + i + 1}}</td>
                <td>{{centre.name}}</td>
                <td>{{centre.doctorname}}</td>
                <td>{{centre.isarno}}</td>
                <td>{{centre.landline}}</td>
                <td>{{centre.email}}</td>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>Showing {{page*10 + 1}} - {{page*10 + showing.length}} of {{total}}</span>
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
              <li class="page-item" [class.disabled]="page==0"><a class="page-link" href="javascript:void(0)" (click)="previous()">Previous</a></li>
              <li class="page-item" [class.disabled]="page==(pagination.length-1)"><a class="page-link" href="javascript:void(0)" (click)="next()">Next</a></li>
            </ul>
          </nav>
    </div>
  </div>
</div>
