<div class="contant">
  <span class="title">Patient Details</span>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtname">Name</label>
        <input type="text" name="" id="txtname" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtname">Date of birth</label>
        <input type="date" name="" id="txtname" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtname">Gender</label>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="txtfemale" value="Female" disabled checked>
            <label class="form-check-label" for="txtfemale">Female</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtcontact">Contact No.</label>
        <input type="text" name="" id="txtcontact" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtaltcontact">Alternate contact No.</label>
        <input type="text" name="" id="txtaltcontact" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtpan">Pan card No.</label>
        <input type="text" name="" id="txtpan" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="txtadd">Address</label>
        <textarea class="form-control" name="" id="txtadd" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="contant">
  <span class="title">Upload Documents</span>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="incomeDoc">
          <label class="custom-file-label" for="incomeDoc">Income proofs</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="medicalDoc" multiple>
          <label class="custom-file-label" for="medicalDoc">Medical Report</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="marriageDoc">
          <label class="custom-file-label" for="marriageDoc">Marriage Certificate</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contant text-center">
  <button class="btn btn-success mr-2">Send</button>
  <button class="btn btn-dark">Reset</button>
</div>
