<div class="contant search">
  <span class="title">Search</span>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Patient Name">
    </div>
    <div class="col-md-4 ">
      <button class="btn btn-dark">search</button>
    </div>
  </div>
</div>

<div class="contant">
  <span class="title">Applications</span>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <div class="table-responsive">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col">Application no</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Contact</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>Showing 1-10 of 100</span>
      <nav aria-label="Page navigation example">
        <ul class="pagination ">
          <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
