<section>
  <div class="container">
    <h2 class="text-center">Login</h2>

    <form (ngSubmit)="onSubmit(loginForm.valid)"  #loginForm="ngForm" autocomplete="off" novalidate>

      <div class="alert alert-danger" role="alert" *ngIf="iswrongAuth">Please check username and password</div>
      <!-- <div class="alert alert-warning" role="alert">Something went wrong. Please try again later.</div> -->
      
      <div class="form-group">
        <label for="txtu">User Name</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
        <div style="color:red" *ngIf="submited && username==''">Please enter username</div>
      </div>
      <div class="form-group">
        <label for="txtp">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
        <div style="color:red" *ngIf="submited && password==''">Please enter password</div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-dark" style="padding: 8px 30px;">login</button>
      </div>
    </form>
  </div>
</section>
