<div class="contant">
  <span class="title">Edit Information</span>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtname">IVF centre name</label>
        <input type="text" name="" id="txtname" class="form-control">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="txtdocname">Main doctor name</label>
        <input type="text" name="" id="txtdocname" class="form-control">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="txtisar">Doctor ISAR number</label>
        <input type="text" name="" id="txtisar" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtcont">landline no.</label>
        <input type="text" name="" id="txtcont" class="form-control">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="txtemail">Email</label>
        <input type="email" name="" id="txtemail" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtpan">IVF pan card no.</label>
        <input type="text" name="" id="txtpan" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="txtadd">Address</label>
        <textarea name="" id="txtadd" rows="3" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-success">Update</button>
    </div>
  </div>
</div>
