<div class="contant">
  <span class="title">Enter Details</span>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtname">IVF centre name</label>
        <input type="text" id="txtname" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtpan">IVF pan card no.</label>
        <input type="text" id="txtpan" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtdopcname">Main doctor name</label>
        <input type="text" id="txtdopcname" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtdocisar">Doctor ISAR number</label>
        <input type="text" id="txtdocisar" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtlandline">landline no.</label>
        <input type="text" id="txtlandline" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="txtemail">Email</label>
        <input type="email" id="txtemail" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="txtadd">Address</label>
        <textarea row="5" id="txtadd" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-success">Add IVF centre</button>
    </div>
  </div>
</div>
