<section class="landing">
  <div>
    <span>IVF Helping Hand</span>
    <p> Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
  </div>
</section>

<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6">Financial aid for patient to concieve (IVF registeration)</div>
      <div class="col-md-6 mar">
        <a routerLink="/login">LOGIN</a>
        <a routerLink="/register">SIGN UP</a>
      </div>
    </div>
  </div>
</section>

<section class="terms">
  <div class="container">
      <h2 class="text-center">Procedure for administration</h2>
    <div class="row">
      <div class="col-md-6 img-con">
        <img src="../../assets/images/terms.png" class="rounded mx-auto d-block" alt="...">
      </div>
      <div class="col-md-6">
        <p class="titles">
          Procedure for administration of ISAR Dr. Sadhana Desai Endowrnent Fund and for grant of assistance from the
          Fund for IVF treatment
        </p>

        <button class="btn btn-success" data-show="true" data-toggle="modal" data-target="#exampleModal">Read it here</button>



      </div>

    </div>
  </div>
</section>

<section class="about">

  <div class="container">
    <h2 class="text-center">About US</h2>

    <div class="row">
      <div class="col-md-6 text-justify">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a
          type specimen book.
        </p>
        <p>
          It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged.
        </p>
        <p>
          It was popularised in the 1960s with the release of Letraset sheets containing
          m Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>
      <div class="col-md-6 img-con">
        <img src="../../assets/images/doctors.png" class="rounded mx-auto d-block" alt="...">
      </div>
    </div>
  </div>

</section>



<!-- <section class="contact">
  <h2 class="text-center">Contact US</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/preganent lady.jpg" class="mx-auto d-block" alt="">
      </div>
      <div class="col-md-6">
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="" placeholder="Email">
          </div>
          <div class="form-group">
            <textarea placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-dark">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

<footer>
  Designed by FairEarth Consultants - <a href="http://www.fairearthconsultants.com" target="_blank">www.fairearthconsultants.com</a>
</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-show="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body termscon">
        <h3 style="text-align: center;">ISAR Dr. Sadhana Desai Endowment fund</h3>
        <ol>
          <li>The fund is set up with the intention of providing assistance to financially needy couples for undergoing
            IVF (In vitro fertilisation) treatment</li>
          <li>Contributions to the fund will be mainly from Dr. Sadhana Desai or her charitable trust. The
            contributions from Dr. Sadhana Desai may be in cash or kind.</li>
          <li>Contributions to the fund will also be accepted from other individuals or entities who wants to make
            contribute towards the cause for which the Fund has been established. Such contribution may also be in cash
            or in kind. </li>
          <li>Application from prospective beneficiaries should be made physically till such time the online
            application facility is set up, post which, the application has to be made online only. </li>
          <li>The applications should be made by the husband and the wife jointly. The required information should be
            for both the husband and the wife.
          </li>
          <li>The identity (aadhar), address and income proofs (income Tax Returns or Form 16), the applicants should be
            attached with the application. </li>
          <li> The committee overseeing the Fund may require the applicants to attach such other documents including
            medical reports with the application which the committee considers necessary for proper evaluation of the
            application.
          </li>
          <li>The application should be accompanied by a letter from the sponsoring ISAR member confirming the medical
            eligibility and genuineness of the applicants. It is the responsibility of the sponsoring ISAR member to
            verify the credentials of the applicants.</li>
          <li>The applicants should be heterosexual, married, Indian copies below 35 years of age. Marriage certificate
            should be attached to the application.
          </li>
          <li>The applicants should not be related to an ISAR member or IVF Centre in any way. </li>
          <li>The IVF treatment should be the first or the second to be carried out by the couple. </li>
          <li>The IVF treatment should be for the implanting of applicant's own gamete. No third party reproduction
            including surrogacy will be considered. </li>
          <li>The maximum amount of assistance for an IVF treatment will be Rs. 50,000/-(Fifty thousand only) per
            application.
          </li>
          <li>The assistance will be for only one IVF treatment of a couple.
          </li>
          <li>The doctor in charge of the IVF centre should be an ISAR member.
          </li>
          <li>The IVF Centre should be agreeable for inspection of the patient medical records and have protocols in
            place for maintainance and assessment of the records of the IVF procedure carried out. </li>
          <li>Applications for assistance from the Fund will be considered quarterly and preferably applications from
            only one zone will be considered for a particular quarter. The applications from that zone will be
            considered again only after the turn of all other zones are over. </li>
          <li>The assistance amount will be paid only after the completion of the IVF treatment and on receiving the
            report of the treatment from the IVF centre where the treatment is being carried out. </li>
          <li>The payment will be made directly to the IVF centre and the receipt will be issued by the centre in the
            name of 'ISAR Dr. Sadhana Desai Endowment Fund'. </li>
          <li>The applicants will have to indemnify ISAR for any act of omission or commission on the part of the IVF
            treatment centre including any treatment deficiency.
          </li>
          <li>Taxes including GST if any, applicable on the treatment will be the responsibility of the IVF Centre.
          </li>
          <li>The donations received in kind will be distributed based on the requirement of the beneficiaries.
          </li>
          <li>The decision of the committee as to the selection of the applicants, payment of assistance and
            distribution of assistance in kind will be final.
          </li>
          <li>The above terms and conditions may be modified by the committee overseeing the Fund at any time at their
            discretion.
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
