<section>
  <div class="container">
    <h2 class="text-center">Register</h2>

    <div class="alert alert-danger" role="alert"> All fields are compulsary  </div>

    <form #regform="ngForm" *ngIf="details" (ngSubmit)="onSubmit(regform.valid)" novalidate autocomplete="off">
      <div class="form-group">
        <label>IVF centre name</label>
        <input  type="text" class="form-control" name="name" #name="ngModel"  [(ngModel)]="details.name" pattern="^[a-zA-Z\s]+$" required>
        <div style="color:red" *ngIf="submited && name.invalid "> Only letter and spaces allowed </div>
      </div>
      <div class="form-group">
        <label for="txtpan">IVF pan card no.</label>
        <input type="text" class="form-control" name="pan"  #pancard="ngModel" [(ngModel)]="details.pancard"  pattern="^[a-zA-Z0-9]+$" required>
        <div style="color:red" *ngIf="submited && pancard.invalid"> Only letter and numbers allowed </div>
      </div>
      <div class="form-group">
        <label for="txtdocname">Main doctor name</label>
        <input  type="text" class="form-control" name="docname"  #docname="ngModel" [(ngModel)]="details.doctorName" pattern="^[a-zA-Z\s]+$" required>
        <div style="color:red" *ngIf="submited && docname.invalid"> Only letter and spaces allowed </div>
      </div>
      <div class="form-group">
        <label for="txtdocno">Doctor ISAR number</label>
        <input type="text" class="form-control" name="isar"  #isar="ngModel" [(ngModel)]="details.isarNo"  pattern="^[0-9A-Z\-]+$" required placeholder="ex:- MP-136">
        <div style="color:red" *ngIf="submited && isar.invalid"> Not a valid number </div>
      </div>
      <div class="form-group">
        <label for="txtadd">Address</label>
        <textarea rows="5"  type="text" class="form-control"  #addr="ngModel" name="addr" [(ngModel)]="details.address"  required></textarea>
        <div style="color:red" *ngIf="submited && addr.invalid"> Enter address </div>
      </div>
      <div class="form-group">
        <label for="txtnum">landline no.</label>
        <input  type="text" class="form-control" name="landline"  #landline="ngModel" [(ngModel)]="details.landline" pattern="^[0-9]+$" required>
        <div style="color:red" *ngIf="submited && landline.invalid"> Enter numbers only </div>
      </div>
      <div class="form-group">
        <label for="txtemail">Email</label>
        <input  type="email" class="form-control" name="email" #email="ngModel"  [(ngModel)]="details.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <div style="color:red" *ngIf="submited && email.invalid"> Enter valid email id </div>
      </div>

      <div class="form-group">
        <label>User Name</label>
        <input  type="text" class="form-control" name="username" #username="ngModel"  [(ngModel)]="logininfo.username" pattern="^[a-zA-Z\s]+$" required>
        <div style="color:red" *ngIf="submited && username.invalid"> Only letter and number is allowed </div>
      </div>
      <div class="form-group">
        <label >Password</label>
        <input  type="password" class="form-control" name="pass" #pass="ngModel"  [(ngModel)]="logininfo.password"  required>
        <div style="color:red" *ngIf="submited && pass.invalid"> Enter valid email id </div>
      </div>
      <div class="form-group">
        <label >Confirm password</label>
        <input  type="password" class="form-control" name="cpass" #cpass="ngModel"  [(ngModel)]="logininfo.cpassword"  required>
        <div style="color:red" *ngIf="submited && cpass.invalid"> Enter valid email id </div>
      </div>


      <div class="form-group text-center">
        <button type="submit" class="btn btn-success" style="padding: 8px 30px;">Register</button>
        <button class="btn btn-danger" style="padding: 8px 30px;margin-left: 10px;">Cancel</button>
      </div>
    </form>

  </div>
</section>
