<header>
  <div class="menuico" (click)="isMenuOpen=!isMenuOpen" >
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="title">Dr. Gnana Akilan</div>
</header>
<aside [class.open]="isMenuOpen">
  <a (click)="closeMenu()" routerLinkActive="active" routerLink="/ivf/home/new">New Application</a>
  <a (click)="closeMenu()" routerLinkActive="active" routerLink="/ivf/home/sent">Sent Applications</a>
  <a (click)="closeMenu()" routerLinkActive="active" routerLink="/ivf/home/setting">Edit Profile</a>
  <a (click)="closeMenu()" routerLinkActive="active" routerLink="/home">Logout</a>
</aside>
<main>
    <!-- <IVF-ivfcentres *ngIf="show=='ivfCentres'"></IVF-ivfcentres>
    <IVF-add-ivf *ngIf="show=='addIVFCentre'"></IVF-add-ivf> -->
    <IVF-newapplication (loader)="isShowLoader($event)" *ngIf="show=='new'"></IVF-newapplication>
    <IVF-sentapplication *ngIf="show=='sent'"></IVF-sentapplication>
    <IVF-settings (loader)="isShowLoader($event)"  *ngIf="show=='setting'"></IVF-settings>
</main>
<div class="loader" *ngIf="showLoader"> <div></div> </div>